<ion-tabs color="red">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="aperture-outline"></ion-icon>
      <ion-label>Artworks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
